.container {
  max-width: 37rem;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  color: white;
  background-color: hsl(220, 93%, 11%);
}

body p {
  line-height: 150%;
}

hr {
  max-width: 10rem;
  border: 0.1rem solid #24f182;
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 2.5rem;
}

.button,
.sub-button {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  background-color: hsl(149, 76%, 46%);
  padding: 1.25rem 2.75rem;
  border-radius: 1.25rem;
  transition: 0.2s;
}

.sub-button {
  padding: 1rem 2.5rem;
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
}

.button:hover,
.sub-button:hover {
  transform: scale(1.05);
  color: black;
}

/* HEADER */

header {
  z-index: 20;
  position: sticky;
  top: 0;
  background-color: hsl(220, 93%, 11%);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
}

header img {
  width: 14rem;
}

header nav,
header ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.tickets-btn {
  font-weight: 800;
  background-color: hsl(282, 59%, 43%);
}

.tickets-btn {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
}

/* Reusable Sections */

.galery-reusable {
  display: flex;
  flex-wrap: wrap;
}

.galery-reusable figure {
  width: 20%;
  height: 15rem;
}

.galery-reusable img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subscribe-reusable {
  position: relative;
  text-align: center;
  background-color: hsl(221, 94%, 7%);
}

.subscribe-reusable h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 110%;
  margin: 0 auto;
  padding-top: 10rem;
}

.subscribe-reusable input {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.9rem 1.25rem;
  border: 0;
  border-radius: 0.5rem;
  margin: 2rem auto;
}

.subscribe-reusable__bg {
  display: flex;
  justify-content: space-between;
}

.subscribe-reusable__bg img {
  max-width: 10rem;
}

/* HOME - Video */

.home-video {
  height: 86.9vh;
  overflow: hidden;
}

video {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.home-video__dates {
  z-index: 10;
  position: absolute;
  bottom: 5rem;
  right: 7rem;
  display: inline-block;
  background-color: hsla(220, 93%, 11%, 0.79);
  padding: 3rem;
  border-radius: 15rem;
}

.home-video__dates-text {
  font-weight: 800;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border-top: 0.2rem dotted green;
  border-bottom: 0.2rem dotted green;
  padding: 0.5rem 0;
}

/* HOME - Christmas */

.home-christmas {
  z-index: 10;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.home-christmas .container {
  padding-top: clamp(3rem, 16vh, 10rem);
  padding-bottom: clamp(3rem, 16vh, 10rem);
}

.home-christmas__tree-left {
  position: absolute;
  top: 4rem;
  left: -1.75rem;
}

.home-christmas__tree-right {
  position: absolute;
  top: 4rem;
  right: -0.95rem;
}

@keyframes swaying {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -5deg;
  }
  100% {
    rotate: 0deg;
  }
}

.home-christmas__tree-left img,
.home-christmas__tree-right img {
  width: clamp(0rem, 20vw, 30rem);
  animation: swaying 7s infinite;
}

.home-christmas h1 {
  max-width: 28rem;
  color: white;
  font-size: 2.5rem;
  line-height: 109%;
  text-transform: uppercase;
  margin: 0 auto;
}

.home-christmas h2 {
  color: white;
  font-size: 2.5rem;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0 auto;
}

.home-christmas p {
  color: white;
  font-size: 1.35em;
}

.home-christmas .button {
  margin-top: 4rem;
}

.home-christmas__bg-img {
  height: 32rem;
  overflow: hidden;
}

.home-christmas__bg-snowflakes {
  background-image: url("../img/images/background-02.png");
  background-size: cover;
}

/* HOME - Reviews */

.home-reviews {
  background-color: hsl(221, 94%, 7%);
}

.home-reviews h3 {
  max-width: 25rem;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 110%;
  margin: 0 auto;
  padding-top: 5rem;
}

.home-reviews p {
  font-size: 1.3rem;
  text-align: center;
}

.home-reviews__container {
  max-width: 65rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 10rem;
  background-color: hsl(221, 94%, 7%);
}

.home-reviews article {
  position: relative;
  display: inline-block;
  width: 30rem;
}

.home-reviews article p {
  color: hsla(0, 0%, 100%, 0.902);
  background-color: hsl(218, 44%, 16%);
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: start;
}

.home-reviews article strong {
  color: hsla(0, 0%, 100%, 0.902);
  font-size: 0.9rem;
  padding: 0 1.5rem;
}

.home-reviews__arrow {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: hsl(218, 44%, 16%);
  left: 4.2rem;
  bottom: 1.7rem;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
