/*
===================================
STANDARD VALUES
===================================
*/

body {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: hsl(220, 93%, 11%);
  overflow-x: hidden;
}

.overlay-body {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

body p {
  line-height: 150%;
}

.close,
.imgClose {
  display: none;
  visibility: hidden;
  z-index: -1;
}

/*
===================================
UTILITY CLASSES
===================================
*/

.container {
  max-width: 37rem;
  width: 90%;
  margin: 0 auto;
}

hr {
  max-width: 10rem;
  border: 0.1rem solid #24f182;
  margin: 0 auto;
  margin-top: 2.4rem;
  margin-bottom: 2.5rem;
}

.button,
.sub-button {
  display: inline-block;
  color: white;
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-color: hsl(149, 76%, 46%);
  padding: 1.25rem 2.75rem;
  border-radius: 1.25rem;
  transition: 0.2s;
}

.sub-button {
  padding: 1rem 2.5rem;
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
}

.button:hover,
.sub-button:hover {
  transform: scale(1.05);
  color: black;
}

.page-pointer::after {
  position: absolute;
  content: "";
  width: 0.35rem;
  height: 0.35rem;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(149, 76%, 46%);
  border-radius: 50%;
}

/*
===================================
HEADER
===================================
*/

header {
  z-index: 20;
  position: sticky;
  top: 0;
  background-color: hsl(220, 93%, 11%);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

header img {
  width: 14rem;
}

header nav,
header ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
  padding-top: 0.5rem;
}

header li {
  position: relative;
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.tickets-btn {
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  font-weight: 700;
  background-color: hsl(282, 59%, 43%);
  background-image: linear-gradient(120deg, #b50090 0, #0f58e6 100%);
  padding: 1.2rem 3rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

header li a:hover {
  color: hsl(149, 76%, 46%);
}

.tickets-btn:hover,
.mobile-menu .tickets-btn:hover {
  background: #1cce72;
  background-image: linear-gradient(120deg, #1cce72 0, #0f58e6 150%);
  color: black;
}

/* HEADER - Small Menu */

.header-small__nav {
  display: none;
  z-index: 20;
  position: sticky;
  top: 0;
  background-color: hsl(220, 93%, 11%);
  height: 4.4rem;
  padding-top: 1rem;
}

.header-small__nav span {
  display: block;
  height: 0.15rem;
  width: 2.25rem;
  background-color: white;
  margin: 0.5rem 0;
}

.header-small__nav span:nth-child(2) {
  width: 1.55rem;
  margin-left: 0.7rem;
}

/*
===================================
FOOTER
===================================
*/

footer {
  max-width: 85vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5rem 0 10rem 0;
  font-size: 1.1rem;
}

.footer__text {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}

footer h4 {
  position: relative;
  text-align: start;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

footer h4::after {
  content: "";
  width: 2.5rem;
  height: 0.125rem;
  background: hsl(149, 76%, 46%);
  position: absolute;
  bottom: -0.8rem;
  left: 0;
}

.footer__contact {
  margin-top: 1.5rem;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.footer__socials svg {
  width: 1.5rem;
  color: white;
}

footer img {
  width: 14rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover,
footer a:hover svg {
  color: hsl(149, 76%, 46%);
}

.footer__terms {
  font-size: 0.9rem;
}

/*
===================================
REUSABLE SECTIONS
===================================
*/
/* BG Trees */

.tree-left {
  position: absolute;
  top: 4rem;
  left: -1.75rem;
}

.tree-right {
  position: absolute;
  top: 4rem;
  right: -0.95rem;
}

@keyframes swaying {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -5deg;
  }
  100% {
    rotate: 0deg;
  }
}

.tree-left img,
.tree-right img {
  width: clamp(0rem, 20vw, 30rem);
  animation: swaying 7s infinite;
}

/* Galery */

.galery-reusable {
  display: flex;
  flex-wrap: wrap;
}

.galery-reusable figure {
  width: 20%;
  cursor: pointer;
}

.galery-reusable img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

/* Sub Newsletter */

.subscribe-reusable {
  position: relative;
  text-align: center;
  background-color: hsl(221, 94%, 7%);
}

.subscribe-reusable h3 {
  font-size: 2.5rem;
  line-height: 110%;
  padding-top: 10rem;
}

.subscribe-reusable input {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.9rem 1.25rem;
  border: 0;
  border-radius: 0.5rem;
  margin: 2rem auto;
}

.subscribe-reusable__bg {
  display: flex;
  justify-content: space-between;
}

.subscribe-reusable__bg img {
  max-width: 10rem;
}

/*
===================================
HOME - Video
===================================
*/

.home-video {
  height: 86.9vh;
  overflow: hidden;
}

video {
  z-index: 10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-video__dates {
  z-index: 10;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  display: block;
  background-color: hsla(220, 93%, 11%, 0.79);
  padding: 3.25rem;
  border-radius: 50%;
}

.home-video__dates-text {
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border-top: 0.2rem dotted green;
  border-bottom: 0.2rem dotted green;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.home-video__dates-text p {
  line-height: 110%;
}

/*
===================================
HOME - Christmas
===================================
*/

.home-christmas {
  z-index: 10;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.home-christmas .container {
  padding-top: clamp(3rem, 16vh, 10rem);
  padding-bottom: clamp(3rem, 16vh, 10rem);
}

.home-christmas h1 {
  max-width: 28rem;
  color: white;
  font-size: 2.5rem;
  line-height: 109%;
}

.home-christmas h2 {
  color: white;
  font-size: 2.5rem;
  line-height: 100%;
}

.home-christmas p {
  color: white;
  font-size: 1.35em;
}

.home-christmas .button {
  margin-top: 4rem;
}

.home-christmas__bg-img {
  height: 32rem;
  overflow: hidden;
}

.home-christmas__bg-snowflakes {
  background-image: url("../img/images/background-02.png");
  background-size: cover;
}

/*
===================================
HOME - Reviews
===================================
*/

.home-reviews {
  background-color: hsl(221, 94%, 7%);
}

.home-reviews h3 {
  max-width: 25rem;
  font-size: 2.5rem;
  line-height: 110%;
  padding-top: 5rem;
}

.home-reviews p {
  font-size: 1.35rem;
  text-align: center;
}

.home-reviews__container {
  max-width: 65rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 10rem;
  background-color: hsl(221, 94%, 7%);
}

.home-reviews article {
  display: inline-block;
  width: 30rem;
}

.home-reviews article p {
  position: relative;
  color: hsla(0, 0%, 100%, 0.902);
  background-color: hsl(218, 44%, 16%);
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: start;
  height: calc(100% - 2.63rem);
}

.home-reviews article strong {
  color: hsla(0, 0%, 100%, 0.902);
  font-size: 0.9rem;
  padding: 0 1.5rem;
}

.home-reviews__arrow {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: hsl(218, 44%, 16%);
  left: 4.2rem;
  bottom: -1.25rem;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

/*
===================================
PARCOURS
===================================
*/

.parcours {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.parcours__container {
  max-width: 62.5rem;
  margin: 0 auto;
}

.parcours h1 {
  max-width: 30rem;
  font-size: 2.5rem;
  line-height: 110%;
  padding-top: 10rem;
}

.parcours p {
  line-height: 140%;
  font-size: 1.4rem;
  max-width: 35rem;
  margin: 3rem auto;
}

/* PARCOURS - Spotlight */

.parcours__spotlight {
  padding: 8rem 0 5rem 0;
}

.parcours__spotlight img {
  width: 100%;
  height: 32rem;
  object-fit: cover;
  object-position: top;
}

/* PARCOURS - Galery */

.parcours__galery {
  background-image: url("../img/images/background-02.png");
  background-size: contain;
  text-align: center;
}

.parcours__galery-container {
  max-width: 37rem;
  width: 90%;
  margin: 0 auto;
}

.parcours__galery p {
  margin-bottom: 2.5rem;
}

/*
===================================
PRAKTISCH
===================================
*/

.practical {
  text-align: center;
  padding-bottom: 3rem;
}

.practical .tree-left,
.practical .tree-right {
  top: 8rem;
}

.practical h1,
.practical h2 {
  font-size: 2.25rem;
  margin-top: 5rem;
  line-height: 110%;
}

.practical h3 {
  display: inline-block;
  background-color: #032769;
  padding: 0.35rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.practical p {
  font-size: 1.35rem;
  text-align: center;
  margin-bottom: 1rem;
}

.practical a {
  display: inline;
}

/*
===================================
GALERY
===================================
*/

.galery__text {
  text-align: center;
  margin: 2rem 0;
  padding-top: 5rem;
  font-size: 1.2rem;
}

.galery__text h1 {
  font-size: 2rem;
  line-height: 110%;
  max-width: 20rem;
}

.galery-grid .tree-left,
.galery-grid .tree-right {
  top: 8rem;
}

/* GALERY - Grid */

.galery-grid {
  margin-bottom: 7rem;
}

.galery-grid .container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1rem;
  max-width: 45rem;
}

.galery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.galery-grid .grid-1,
.galery-grid .grid-2 {
  grid-column: span 3;
  grid-row: span 1;
}

.galery-grid .grid-3 {
  grid-column: span 6;
  grid-row: span 1;
}

.galery-grid .grid-4 {
  grid-row: span 2;
  grid-column: span 2;
}

.galery-grid .grid-5,
.galery-grid .grid-6 {
  grid-column: span 2;
  grid-row: span 1;
}

.galery-grid .grid-7 {
  grid-column: span 4;
  grid-row: span 1;
}

.galery-grid .grid-8 {
  grid-column: span 6;
}

.galery-grid .grid-9,
.galery-grid .grid-10 {
  grid-column: span 3;
  grid-row: span 1;
}

.galery-grid .grid-11,
.galery-grid .grid-12 {
  grid-column: span 2;
  grid-row: span 1;
}

.galery-grid .grid-13 {
  grid-column: span 2;
  grid-row: span 2;
}

.galery-grid .grid-14 {
  grid-column: span 4;
  grid-row: span 1;
}

.galery-grid .grid-15 {
  grid-column: span 6;
}
