@media (max-width: 1000px) {
  header ul {
    display: none;
  }
  .header-small__nav {
    display: block;
  }
  .galery-reusable figure {
    width: 33.3333333%;
  }
}

@media (max-width: 647px) {
  .container-header {
    padding: 0.5rem;
    justify-content: center;
    gap: 1.5rem;
  }
  .tickets-btn {
    padding: 0.63rem 1.65rem;
    border-radius: 0.8rem;
  }
  .tree-left,
  .tree-right {
    display: none;
  }
  .galery-reusable figure {
    width: 50%;
  }
  .home-christmas .container {
    padding-top: 5rem;
  }
  .home-christmas__bg-img {
    height: 100%;
  }
  .map-pointers {
    padding: 0.35rem;
  }
  .footer__text {
    gap: 5rem;
  }
}

@media (max-width: 500px) {
  .home-video__dates {
    bottom: 2.5rem;
    right: 2.5rem;
    padding: 2.75rem;
  }
  .home-vide5remo__dates-text {
    font-size: 1rem;
  }
  .map-pointers {
    padding: 0.25rem;
  }
}

@media (max-width: 350px) {
  .tickets-btn {
    display: none;
  }
}
